<% content_for :head do -%>
  <%= javascript_include_tag 'jquery.marquee.js' -%>
<% end -%>

<script type='text/javascript' charset='utf-8'>
  $(document).ready(function($)
  {
    setInterval('cursorAnimation()', 950);
  });
</script>

<%# $('div.content').bind('end', doSomething()); %>
<%# $('div.content').marquee.end(function () { alert('ended'); }); %>

<div id='page'>
  <div id='misc'>
    fus<span class='cursor'>i</span>on
    <%= render :partial => 'shared/flash_messages' %>
  </div>
  <div id='content'>
    <marquee behavior='alternate' direction='up' scrollamount='50' loop='1' height='355'>
      00L31.L4101010101001011010101011001010010100100101001111.1010011001010101010101111
      1105UTTR.33011110001010001010100101010011.01010101001101010101010.1010101001101111
      1101FU51.0N01010001010100101000011110100101010101001001e01010010101010010101010101
      01001R34DY11001010010100101010100101010010100101011.0101010.0110010101010111010101
      11111125.01.1011101010101111111110101010100111010100010101010101011111111111101011
      1111111000101010100010000110010101!01010101001011..1101010010100101010100e00100101
      010010100101010100e00100101010101!01010100100100101010101001011:010100101010110e01
      1010001010100101010011.010101010011e01010101001010100f0101010011001!01010101010101
      E010010100001001010001010B01010010001010010101001000000000001010010100101010001001
      ~101010010101010010101010000101010101000101010010101001010101010100101010010110011
      90101010010100010010010010010001B1001010010101001001000100101001101011001010100100
      !e0A00000A000A0000AA00A00010010101001010100101110100110101010010100010011:10010101
      1110100101010100101001010100101001010010101000101001010101001001010100101010010101
      010101.101.010101001010.101010.010100100101.01010010100100101010.01010010101010.10
      .010101.01.01.0E01.01.01.00101010.E01.01010.010010100100100F010101001010100.F00010
      1010100101010101101011101010011111010101001010001010101010:1001.011010101010010101
      1111111000101010100010000110010101!01010101001011..1101010010100101010100e00100101
      1010001010100101010011.010101010011e01010101001010100f0101010011001!01010101010101
      E010010100001001010001010B01010010001010010101001000000000001010010100101010001001
      ~101010010101010010101010000101010101000101010010101001010101010100101010010110011
      re0A00000A000A0000AA00A00010010101001010100101110100110101010010100010011:10010101
      1110100101010100101001010100101001010010101000101001010101001001010100101010010101
      010101.101.010101001010.101010.010100100101.01010010100100101010.01010010101010.10
      .010101.01.01.0E01.01.01.00101010.E01.01010.010010100100100F010101001010100.F00010
      1010100101010101101011101010011111010101001010001010101010:1001.011010101010010101
      11111125.01.1011101010101111111110101010100111010100010101010101011111111111101011
      1111111000101010100010000110010101!01010101001011..1101010010100101010100e00100101
      010010100101010100e00100101010101!01010100100100101010101001011:010100101010110e01
      1010001010100101010011.010101010011e01010101001010100f0101010011001!01010101010101
      E010010100001001010001010B01010010001010010101001000000000001010010100101010001001
      ~101010010101010010101010000101010101000101010010101001010101010100101010010110011
      1110100101010100101001010100101001010010101000101001010101001001010100101010010101
      90101010010100010010010010010001B1001010010101001001000100101001101011001010100100
      !e0A00000A000A0000AA00A00010010101001010100101110100110101010010100010011:10010101
      1110100101010100101001010100101001010010101000101001010101001001010100101010010101
      010101.101.010101001010.101010.010100100101.01010010100100101010.01010010101010.10
      0101010101e0101010010100101010.010100100101101010010100100101010.01010010101010110
      .010101.01.01.0E01.01.01.00101010.E01.01010.010010100100100F010101001010100.F00010
      1010100101010101101011101010011111010101001010001010101010:1001.011010101010010101
      00L31.L4101010101001011010101011001010010100100101001111.1010011001010101010101111
      1105UTTR.33011110001010001010100101010011.01010101001101010101010.1010101001101111
      1101FU51.0N01010001010100101000011110100101010101001001e01010010101010010101010101
      01001R34DY11001010010100101010100101010010100101011.0101010.0110010101010111010101
      11111125.01.1011101010101111111110101010100111010100010101010101011111111111101011
      1111111000101010100010000110010101!01010101001011..1101010010100101010100e00100101
      010010100101010100e00100101010101!01010100100100101010101001011:010100101010110e01
      0101010100001110101001010100101010110101001001010101011010100001001010101000101101
      1010001010100101010011.010101010011e01010101001010100f0101010011001!01010101010101
      E010010100001001010001010B01010010001010010101001000000000001010010100101010001001
      1101010010101010010101010000101010101000101010010101001010101010100101010010110011
      E010010100001001010001010B01010010001010010101001000000000001010010100101010001001
      0000001010100010101001010100101001001010010101010010101011101010101000100110110011
      90101010010100010010010010010001B1001010010101001001000100101001101011001010100100
      0e0100000A000A0000AA00A00010010101001010100101110100110101010010100010011:10010101
      1110100101010100101001010100101001010010101000101001010101001001010100101010010101
      0101010101e0101010010100101010.010100100101101010010100100101010.01010010101010110
      1110100101010100101001010100101001010010101000101001010101001001010100101010010101
      010101010100101010010100101010.010100100101101010010100100101010.01010010101010010
      111010110110110E011011011001010100E010010101010010100100100F010101001010100.F00010
      1010101101010101101011101010011101010101001010001010101010010011011010101010010101
      <br/>
      <% form_tag({:controller => 'users', :action => 'create'}, {:method => 'post', :id => 'begin'}) do %>
        <input type='submit' value='Begin' name='register_with_oauth' id='user_submit' class=''/>
      <% end %>
    </marquee>
  </div>
</div>
